In [2]:
import pandas as pd 
data=pd.DataFrame({
    'cost':[1000,2000,3000,4000],
    'quantity':[3,6,9,12],
    'shipping':[1,2,3,4],
    'offer':[5,10,15,20]
})
data=pd.DataFrame(data)
data

   cost  quantity  shipping  offer
0  1000         3         1      5
1  2000         6         2     10
2  3000         9         3     15
3  4000        12         4     20

In [3]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data_minmax = pd.DataFrame(
    scaler.fit_transform(data),
    columns=data.columns
)
data_minmax

       cost  quantity  shipping     offer
0  0.000000  0.000000  0.000000  0.000000
1  0.333333  0.333333  0.333333  0.333333
2  0.666667  0.666667  0.666667  0.666667
3  1.000000  1.000000  1.000000  1.000000

In [4]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data_standard = pd.DataFrame(
    scaler.fit_transform(data),
    columns=data.columns
)
data_standard

       cost  quantity  shipping     offer
0 -1.341641 -1.341641 -1.341641 -1.341641
1 -0.447214 -0.447214 -0.447214 -0.447214
2  0.447214  0.447214  0.447214  0.447214
3  1.341641  1.341641  1.341641  1.341641

In [6]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
data_robust = pd.DataFrame(
    scaler.fit_transform(data),
    columns=data.columns
)
data_robust

       cost  quantity  shipping     offer
0 -1.000000 -1.000000 -1.000000 -1.000000
1 -0.333333 -0.333333 -0.333333 -0.333333
2  0.333333  0.333333  0.333333  0.333333
3  1.000000  1.000000  1.000000  1.000000

In [7]:
from sklearn.preprocessing import MaxAbsScaler
scaler = MaxAbsScaler()
data_maxabs = pd.DataFrame(
    scaler.fit_transform(data),
    columns=data.columns
)
data_maxabs

   cost  quantity  shipping  offer
0  0.25      0.25      0.25   0.25
1  0.50      0.50      0.50   0.50
2  0.75      0.75      0.75   0.75
3  1.00      1.00      1.00   1.00