In [28]:
def even_odd(number):
    if number%2==0:
        return "number is even"
    else:
        return "number is odd"
number=int(input("enter a number"))  
even_odd(number)

enter a number 4

'number is even'

In [14]:
def prime_no():
 for i in range(1):
  if number == 2 or number == 3 or number == 5 or number == 7:
    print(f"{number} is a prime number.")
  elif number == 1 or number < 1:
    print(f"{number} is not a prime number because it is less than 2.")
  else:
    if number % 2 == 0:
        print(f"{number} is not a prime number because it is divisible by 2.")
    elif number % 3 == 0:
        print(f"{number} is not a prime number because it is divisible by 3.")
    elif number % 5 == 0:
        print(f"{number} is not a prime number because it is divisible by 5.")
    elif number % 7 == 0:
        print(f"{number} is not a prime number because it is divisible by 7.")
    else:
        print(f"{number} is a prime number.")
number = int(input("Enter a number: "))        
prime_no()

Enter a number:  4

4 is not a prime number because it is divisible by 2.

In [31]:
percentage =int(input("Enter the percentage: "))
def grade():
        if percentage >= 90:
           print("Grade A+")
        elif percentage >= 80:
           print("Grade A")
        elif percentage >= 70:
          print("Grade B+")
        elif percentage >= 60:
            print("Grade B")
        elif percentage >= 40:
          print("Pass")
        else:
         print("Fail")
grade()

Enter the percentage:  90

Grade A+

In [24]:
num=int(input("enter a table"))
def mul_table(num):
    i=1
    while i<11:
        print(num,'x',i,'=',num*i)
        i+=1
mul_table(num)

enter a table 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [19]:
num=int(input("enter a multiplication table"))
def mul_table(num):
    for i in range(1,11):
        print(num,'x',i,'=',num*i)
mul_table(num)

enter a multiplication table 10

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [29]:
def countdwon(start):
    for i in range(0,5):
        print(i)
start = int(input("Enter a starting number for the countdown: "))        
countdown(start)

Enter a starting number for the countdown:  5

5
4
3
2
1
0

In [1]:
def temprature_in_celcuis():
    celsius = float(input("Please enter the temperature in Celsius: "))
    fahrenheit = (celsius * 9/5) + 32
    print(f"{celsius} Celsius is equivalent to {fahrenheit} Fahrenheit.")
temprature_in_celcuis()

Please enter the temperature in Celsius:  33

33.0 Celsius is equivalent to 91.4 Fahrenheit.

In [14]:
def sum_natural_no(n):
    total = 0
    for i in range(1, n+1):
        total += i
    return total
n = int(input("Enter a number: "))
print(f"sum natural no{n}:{sum_natural_no(n)}")

Enter a number:  6

sum natural no 6 : 21

In [15]:
def prime_no(end):
    for i in range(start,end+1):
        if i>1:
            is_prime=True
            for n in range(2,i):
                if i%n==0:
                    is_prime=False
                    break
            if is_prime:
                print(i)
start=int(input("enter start"))
end=int(input("enter end"))
prime_no(end)

enter start 1
enter end 10

2
3
5
7

In [53]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
def smallest_no(a, b, c):
    if a < b and a < c:
     print("The smallest number is", a)
    elif b < a and b < c:
     print("The smallest number is", b)
    else:
     print("The smallest number is", c)
smallest_no(a,b,c)

Enter first number:  2
Enter second number:  3
Enter third number:  4

The smallest number is 2

In [20]:
def vowel_count():
    string = input("Enter a string to count the vowels: ")
    count=0
    for character in string.lower():
        if character in "aeiou":
            count+=1
    print("no of",count)
vowel_count()

Enter a string to count the vowels:  python

no of 1

In [24]:
def kilometers_miles():
 kilometers = float(input("Enter the distance in kilometers: "))

 conversion = 0.621371

 miles = kilometers * conversion

 print(f"{kilometers} kilometers is equal to {miles} miles.")
kilometers_miles()

Enter the distance in kilometers:  10

10.0 kilometers is equal to 6.21371 miles.

In [28]:
num = input("Please enter a number to find the sum of its digits: ")
def sum_digit(num):
    total=0
    for digit in num:
        total+=int(digit)
    return total
sum_digit(num)

Please enter a number to find the sum of its digits:  92

11

In [35]:
def attendance():
 test_score = float(input("Enter test score: "))
 assignment_score = float(input("Enter assignment score: "))
 project_score = float(input("Enter project score: "))
 attendance = float(input("Enter attendance score: "))
 final_score = (test_score * 0.3) + (assignment_score * 0.2) + (project_score * 0.4) + (attendance * 0.1)
 if attendance < 75:                                         
    final_score *= 0.85
 print(f"Final weighted score is: {final_score:.2f}")
attendance()

Enter test score:  80
Enter assignment score:  90
Enter project score:  70
Enter attendance score:  77

Final weighted score is: 77.70

In [17]:
rows = int(input("Enter number of rows: "))
def print_triangle():
    for i in range(rows, 0, -1): 
        for j in range(0, i):
            print("* ", end="")
        print()
print_triangle()

Enter number of rows:  7

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [25]:
rows = int(input("Enter number of rows: "))
def right_triangle(rows):
    for i in range(rows):
        for j in range(i + 1):
            print("* ", end="")
        print()
right_triangle(rows)

Enter number of rows:  10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [28]:
def half_no():
 for i in range(rows):
    for j in range(i + 1):
        print(j + 1, end=" ")
    print()
rows = int(input("Enter number of rows: "))
half_no()

Enter number of rows:  6

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [37]:
rows = int(input("Enter number of rows: "))
def acii():
 ascii_value = 65  
 for i in range(rows):
    for j in range(i + 1):
        alphabet = chr(ascii_value)
        print(alphabet, end=" ")
    print()
    ascii_value += 1  
   
acii()

Enter number of rows:  9

A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G
H H H H H H H H
I I I I I I I I I

In [71]:
rows=int(input("enter number of rows:"))
def full_pyramid(rows):
    num = 1
    for i in range(1, rows + 1):
        print(' ' * (rows - i), end='')
        k = i
        count = 0
        count1 = 0
        while count < (2 * i - 1):
            print(k, end='')
            count += 1
            if count <= i - 1:
                k += 1
            else:
                k -= 1
        print()
full_pyramid(rows)

enter number of rows: 6

     1
    232
   34543
  4567654
 567898765
67891011109876

In [46]:
rows = int(input("Enter the number of rows: "))
def pascals_triangle(rows):
    for i in range(1, rows + 1):
        print(" " * (rows - i), end="")
        coef = 1
        for j in range(i):
            print(coef, end=" ")
            coef = coef * (i - j) // (j + 1)
        print()
pascals_triangle(rows)

Enter the number of rows:  5

    1
   1 2
  1 3 3
 1 4 6 4
1 5 10 10 5

In [58]:
rows = int(input("Enter the number of rows: "))
def inverse_pyramid():
    for i in range(rows, 0, -1):
        print("  " * (rows - i), end="")
        print("* " * (2 * i - 1))
inverse_pyramid()

Enter the number of rows:  5

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [81]:
def binary_conversion(decimal):
    if decimal==0:
        return "0"
    binary=""
    while decimal>0:
        binary=str(decimal%2)+binary
        decimal=decimal//2
    return binary
num=int(input("enter decimal no"))
print("binary",binary_conversion(num))

enter decimal no 4

binary 100

In [62]:
def savings():
 savings = float(input("Enter current savings: "))
 monthlydeposit = float(input("Enter monthly deposit: "))
 savings += monthlydeposit
 savings *= 1.005
 print(f"Savings with interest: {savings}")
savings()

Enter current savings:  2000
Enter monthly deposit:  500

Savings with interest: 2512.4999999999995

In [69]:
def calculate_interest():
    initial_amount = float(input("Enter initial investment amount: "))
    years = int(input("Enter duration in years: "))
    annual_interest = float(input("Enter annual interest rate (in %): ")) / 100
    withdrawal_year = int(input("Enter year of withdrawal: "))
    withdrawal_amount = float(input("Enter withdrawal amount: "))

    balance = initial_amount
    for year in range(1, years + 1):
        balance += balance * annual_interest
        if year == withdrawal_year:
            balance -= withdrawal_amount

    print(f"Final balance: {balance:.2f}")
calculate_interest()

Enter initial investment amount:  200000
Enter duration in years:  5
Enter annual interest rate (in %):  5
Enter year of withdrawal:  3
Enter withdrawal amount:  15000

Final balance: 238718.81

In [100]:
def divisible_no():
 divisor=6
 divisible=[]
 for n in number:
    if n%divisor==0:
        divisible+=[n]
 if divisible:
    print("number divisible by",divisor,"are",*divisible)
 else:
     print("no number are divisible by",divisor)
number=[12,18,19,22]     
divisible_no()

number divisible by 6 are 12 18