In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\om\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\om\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\om\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\om\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\om\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\om\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
#1
df=pd.read_csv("amazon_prime_video_data.csv")

In [5]:
#2
df.head(10)

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
5,5006,Movie,Drama,Hindi,2010,104,6.2,A,Australia,2022-12-27,96.06,51.0,6.42,Basic,No,0.84
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
7,5008,Movie,Sci-Fi,Telugu,2020,65,5.9,A,Canada,2023-02-24,90.44,68.0,8.43,Premium,No,45.42
8,5009,Movie,Comedy,English,2005,65,6.8,U,USA,2023-07-22,105.41,67.0,1.97,Standard,No,32.48
9,5010,Movie,Thriller,Kannada,2017,107,7.0,U,Canada,2022-05-02,54.07,80.0,8.24,Mobile,No,4.94

In [6]:
#3
df.tail(5)

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
601,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08
604,5434,Movie,Romance,Telugu,2013,162,9.3,U/A,UK,2023-09-30,46.04,33.0,5.50,Basic,Yes,23.48
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18

In [7]:
#4
df[:]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08
604,5434,Movie,Romance,Telugu,2013,162,9.3,U/A,UK,2023-09-30,46.04,33.0,5.50,Basic,Yes,23.48
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18

In [9]:
#5
df.dtypes

content_id              int64
content_type           object
genre                  object
language               object
release_year            int64
duration_minutes        int64
imdb_rating           float64
age_rating             object
country                object
added_date             object
views_millions        float64
avg_watch_time_min    float64
likes_millions        float64
subscription_plan      object
is_trending            object
revenue_millions      float64
dtype: object

In [10]:
#6
df.describe()

,content_id,release_year,duration_minutes,imdb_rating,views_millions,avg_watch_time_min,likes_millions,revenue_millions
count,606.000000,606.000000,606.000000,566.000000,606.000000,570.000000,606.000000,606.000000
mean,5301.823432,2014.714521,119.330033,6.916961,61.660677,86.482456,7.474241,25.315792
std,173.127136,5.712624,34.121949,1.447780,33.650763,41.767713,4.332711,13.654265
min,5001.000000,2005.000000,60.000000,4.500000,0.150000,20.000000,0.010000,0.140000
25%,5152.250000,2010.000000,91.250000,5.600000,32.880000,48.250000,3.910000,13.952500
50%,5303.500000,2015.000000,120.000000,6.900000,61.415000,85.000000,7.430000,25.350000
75%,5451.750000,2020.000000,147.000000,8.100000,91.452500,124.750000,11.290000,37.097500
max,5600.000000,2024.000000,179.000000,9.500000,119.880000,159.000000,15.000000,49.810000

In [35]:
#7
df.isna()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
602,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
603,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
604,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
605,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
#8
df.isna().sum()

content_id             0
content_type           0
genre                  0
language               0
release_year           0
duration_minutes       0
imdb_rating           40
age_rating             0
country                0
added_date             0
views_millions         0
avg_watch_time_min    36
likes_millions         0
subscription_plan      0
is_trending            0
revenue_millions       0
dtype: int64

In [51]:
#9
df['imdb_rating'].isna().mean()*100

np.float64(6.6006600660066)

In [71]:
#10
df['imdb_rating'].isna().sum()

np.int64(40)

In [72]:
#11
df['avg_watch_time_min'].median()

85.0

In [12]:
#12
df.isna().sum()

content_id             0
content_type           0
genre                  0
language               0
release_year           0
duration_minutes       0
imdb_rating           40
age_rating             0
country                0
added_date             0
views_millions         0
avg_watch_time_min    36
likes_millions         0
subscription_plan      0
is_trending            0
revenue_millions       0
dtype: int64

In [73]:
#13
df[df.duplicated()]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category,subscription_plan_code
600,5482,TV Show,Thriller,English,2009,60,5.6,U,India,2021-03-15,113.20,128.0,13.96,Standard,No,20.35,127.16,Medium,NaN
601,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79,99.51,Medium,NaN
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58,110.42,Low,P
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08,68.52,Medium,NaN
604,5434,Movie,Romance,Telugu,2013,162,9.3,U/A,UK,2023-09-30,46.04,33.0,5.50,Basic,Yes,23.48,51.54,High,NaN
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18,49.73,Medium,NaN

In [13]:
#14
df.duplicated().sum()

np.int64(6)

In [74]:
#15
df[df.duplicated(keep=False)]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category,subscription_plan_code
338,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08,68.52,Medium,NaN
348,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58,110.42,Low,P
433,5434,Movie,Romance,Telugu,2013,162,9.3,U/A,UK,2023-09-30,46.04,33.0,5.50,Basic,Yes,23.48,51.54,High,NaN
481,5482,TV Show,Thriller,English,2009,60,5.6,U,India,2021-03-15,113.20,128.0,13.96,Standard,No,20.35,127.16,Medium,NaN
490,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18,49.73,Medium,NaN
509,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79,99.51,Medium,NaN
600,5482,TV Show,Thriller,English,2009,60,5.6,U,India,2021-03-15,113.20,128.0,13.96,Standard,No,20.35,127.16,Medium,NaN
601,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79,99.51,Medium,NaN
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58,110.42,Low,P
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08,68.52,Medium,NaN
604,5434,Movie,Romance,Telugu,2013,162,9.3,U/A,UK,2023-09-30,46.04,33.0,5.50,Basic,Yes,23.48,51.54,High,NaN
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18,49.73,Medium,NaN

In [15]:
#16
df.drop_duplicates()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,5596,TV Show,Action,Tamil,2024,81,8.1,U/A,UK,2023-06-24,90.33,155.0,0.73,Premium,Yes,23.98
596,5597,Movie,Sci-Fi,Hindi,2017,87,6.4,U,Canada,2023-03-17,61.81,59.0,11.29,Standard,No,47.16
597,5598,Movie,Thriller,Telugu,2021,174,NaN,A,Canada,2024-02-28,24.43,41.0,13.16,Standard,No,19.62
598,5599,Movie,Drama,Malayalam,2008,104,5.3,A,UK,2023-11-28,47.41,81.0,5.88,Mobile,No,36.17
599,5600,Movie,Comedy,English,2024,100,4.5,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49

In [76]:
#17
df.shape

(606, 19)

In [16]:
#18
df['content_type'].nunique()

2

In [17]:
#19
df['genre'].nunique()

7

In [18]:
#20
df['language'].unique()

array(['Tamil', 'Malayalam', 'Telugu', 'Hindi', 'Kannada', 'English'],
      dtype=object)

In [19]:
#21
df['genre'].value_counts()

genre
Documentary    100
Drama          100
Sci-Fi          95
Action          90
Romance         75
Thriller        74
Comedy          72
Name: count, dtype: int64

In [20]:
#22
df['language'].value_counts()

language
Tamil        111
Malayalam    108
English      105
Hindi        104
Telugu        94
Kannada       84
Name: count, dtype: int64

In [21]:
#23
df[df['imdb_rating']>8]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
10,5011,TV Show,Drama,Malayalam,2014,154,9.1,U/A,Australia,2022-12-21,69.92,100.0,10.39,Basic,No,40.35
11,5012,TV Show,Drama,English,2014,60,8.9,U,Australia,2022-10-17,18.52,125.0,14.99,Premium,Yes,45.34
12,5013,Movie,Sci-Fi,Malayalam,2011,70,9.2,U/A,Australia,2023-09-09,106.86,157.0,7.51,Standard,No,6.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,5590,TV Show,Drama,Malayalam,2012,166,8.3,U/A,USA,2023-07-21,85.92,117.0,1.64,Standard,No,8.20
592,5593,Movie,Documentary,Tamil,2009,143,8.9,U,USA,2023-10-16,37.18,144.0,4.34,Standard,Yes,20.72
594,5595,TV Show,Sci-Fi,Telugu,2017,170,8.4,A,Australia,2021-07-29,1.85,24.0,1.22,Premium,No,15.48
595,5596,TV Show,Action,Tamil,2024,81,8.1,U/A,UK,2023-06-24,90.33,155.0,0.73,Premium,Yes,23.98
604,5434,Movie,Romance,Telugu,2013,162,9.3,U/A,UK,2023-09-30,46.04,33.0,5.50,Basic,Yes,23.48

In [22]:
#24
df[df['views_millions']>50]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
5,5006,Movie,Drama,Hindi,2010,104,6.2,A,Australia,2022-12-27,96.06,51.0,6.42,Basic,No,0.84
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,5600,Movie,Comedy,English,2024,100,4.5,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49
600,5482,TV Show,Thriller,English,2009,60,5.6,U,India,2021-03-15,113.20,128.0,13.96,Standard,No,20.35
601,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08

In [23]:
#25
df[df['release_year']>2018]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
7,5008,Movie,Sci-Fi,Telugu,2020,65,5.9,A,Canada,2023-02-24,90.44,68.0,8.43,Premium,No,45.42
13,5014,Movie,Sci-Fi,Kannada,2020,146,9.3,A,India,2023-05-30,79.39,113.0,14.34,Premium,No,26.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,5591,Movie,Action,Tamil,2019,108,8.0,U/A,UK,2024-02-22,14.90,101.0,7.97,Mobile,No,13.46
595,5596,TV Show,Action,Tamil,2024,81,8.1,U/A,UK,2023-06-24,90.33,155.0,0.73,Premium,Yes,23.98
597,5598,Movie,Thriller,Telugu,2021,174,NaN,A,Canada,2024-02-28,24.43,41.0,13.16,Standard,No,19.62
599,5600,Movie,Comedy,English,2024,100,4.5,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18

In [24]:
#26
df[df['genre'].isin(['Action','Thriller'])]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
9,5010,Movie,Thriller,Kannada,2017,107,7.0,U,Canada,2022-05-02,54.07,80.0,8.24,Mobile,No,4.94
15,5016,TV Show,Action,Telugu,2016,90,8.4,U/A,USA,2021-06-06,60.29,NaN,13.41,Standard,No,21.69
16,5017,Movie,Action,Kannada,2015,178,9.0,U,USA,2021-07-27,93.79,100.0,10.88,Mobile,No,32.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,5598,Movie,Thriller,Telugu,2021,174,NaN,A,Canada,2024-02-28,24.43,41.0,13.16,Standard,No,19.62
600,5482,TV Show,Thriller,English,2009,60,5.6,U,India,2021-03-15,113.20,128.0,13.96,Standard,No,20.35
601,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08

In [25]:
#27
df[df['language'].isin(['Hindi','English'])]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
5,5006,Movie,Drama,Hindi,2010,104,6.2,A,Australia,2022-12-27,96.06,51.0,6.42,Basic,No,0.84
8,5009,Movie,Comedy,English,2005,65,6.8,U,USA,2023-07-22,105.41,67.0,1.97,Standard,No,32.48
11,5012,TV Show,Drama,English,2014,60,8.9,U,Australia,2022-10-17,18.52,125.0,14.99,Premium,Yes,45.34
19,5020,Movie,Drama,English,2017,118,7.4,U,USA,2022-05-10,61.69,NaN,4.45,Standard,Yes,19.78
20,5021,TV Show,Action,English,2015,67,5.5,U,Canada,2022-02-23,96.68,66.0,1.43,Standard,No,30.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,5592,Movie,Sci-Fi,English,2005,140,NaN,U/A,India,2022-08-11,62.32,126.0,2.26,Mobile,No,22.00
596,5597,Movie,Sci-Fi,Hindi,2017,87,6.4,U,Canada,2023-03-17,61.81,59.0,11.29,Standard,No,47.16
599,5600,Movie,Comedy,English,2024,100,4.5,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49
600,5482,TV Show,Thriller,English,2009,60,5.6,U,India,2021-03-15,113.20,128.0,13.96,Standard,No,20.35
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18

In [46]:
#28
df[df['duration_minutes'].between(90,150)]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92,22.39
5,5006,Movie,Drama,Hindi,2010,104,6.2,A,Australia,2022-12-27,96.06,51.0,6.42,Basic,No,0.84,102.48
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47,118.50
9,5010,Movie,Thriller,Kannada,2017,107,7.0,U,Canada,2022-05-02,54.07,80.0,8.24,Mobile,No,4.94,62.31
13,5014,Movie,Sci-Fi,Kannada,2020,146,9.3,A,India,2023-05-30,79.39,113.0,14.34,Premium,No,26.60,93.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,5599,Movie,Drama,Malayalam,2008,104,5.3,A,UK,2023-11-28,47.41,81.0,5.88,Mobile,No,36.17,53.29
599,5600,Movie,Comedy,English,2024,100,4.5,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49,78.67
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58,110.42
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08,68.52
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18,49.73

In [ ]:
#29

In [48]:
#30
def example(x):
    if x>8:
        return"High"
    elif x>=5:
        return"Medium"
    else:
        return"Low"
df['rating_category']=df['imdb_rating'].apply(example)
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82,87.24,Low
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70,6.15,Medium
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92,22.39,High
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68,89.28,Low
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00,57.60,High

In [49]:
#31
code={"basic":"B","standard":"S","Mobile":"M","Premium":"P"}
df["subscription_plan_code"]=df["subscription_plan"].map(code)

In [50]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,popularity_score,rating_category,subscription_plan_code
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82,87.24,Low,NaN
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70,6.15,Medium,NaN
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92,22.39,High,M
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68,89.28,Low,NaN
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00,57.60,High,NaN

In [ ]:
#32

In [26]:
#33
df['subscription_plan'].value_counts()

subscription_plan
Basic       181
Mobile      145
Standard    142
Premium     138
Name: count, dtype: int64

In [1]:
#34

In [86]:
#35
df.groupby('content_type').size()

content_type
Movie      371
TV Show    235
dtype: int64

In [52]:
#36
df.groupby('genre')['imdb_rating'].mean()

genre
Action         6.998780
Comedy         6.967164
Documentary    6.674737
Drama          7.084783
Romance        6.822857
Sci-Fi         7.201111
Thriller       6.610000
Name: imdb_rating, dtype: float64

In [53]:
#37
df.groupby('language')['views_millions'].mean()

language
English      64.233143
Hindi        63.005385
Kannada      61.063214
Malayalam    59.520741
Tamil        63.118468
Telugu       58.570532
Name: views_millions, dtype: float64

In [55]:
#38
df.groupby('subscription_plan')['revenue_millions'].mean()

subscription_plan
Basic       25.343370
Mobile      25.812690
Premium     24.409275
Standard    25.654225
Name: revenue_millions, dtype: float64

In [56]:
#39
df.groupby('country').size()

country
Australia    137
Canada       120
India        122
UK           126
USA          101
dtype: int64

In [58]:
#40
df.groupby('genre')['revenue_millions'].sum()

genre
Action         2212.25
Comedy         1928.84
Documentary    2379.68
Drama          2503.21
Romance        1984.44
Sci-Fi         2498.81
Thriller       1834.14
Name: revenue_millions, dtype: float64

In [59]:
#41
df.groupby('content_type')['duration_minutes'].mean()

content_type
Movie      119.140162
TV Show    119.629787
Name: duration_minutes, dtype: float64

In [61]:
#42
df.groupby('is_trending')['views_millions'].mean()

is_trending
No     63.20151
Yes    58.57901
Name: views_millions, dtype: float64

In [78]:
#43
df[df['imdb_rating']>7.5].groupby('genre')['imdb_rating'].mean()

genre
Action         8.345714
Comedy         8.590476
Documentary    8.377419
Drama          8.671053
Romance        8.596000
Sci-Fi         8.402326
Thriller       8.386364
Name: imdb_rating, dtype: float64

In [79]:
#44
content=df['language'].value_counts()
content[content>50]

language
Tamil        111
Malayalam    108
English      105
Hindi        104
Telugu        94
Kannada       84
Name: count, dtype: int64

In [19]:
#45
cal=df.groupby('genre').agg(
    views=('views_millions','sum'),
    likes=('likes_millions','mean'),
    revenue=('revenue_millions','sum'))
cal.head()

               views     likes  revenue
genre
Action       5732.63  7.255556  2212.25
Comedy       3919.95  7.429167  1928.84
Documentary  6280.93  7.500500  2379.68
Drama        6088.93  7.368200  2503.21
Romance      4832.73  7.756933  1984.44

In [20]:
#46
df.groupby("content_type")["content_id"].agg("count")

content_type
Movie      371
TV Show    235
Name: content_id, dtype: int64

In [8]:
#47
df.groupby("country").agg(sub_plan_count=('subscription_plan','count'),
views_avg=('views_millions','mean'),
revenue=('revenue_millions','sum'))

           sub_plan_count  views_avg  revenue
country
Australia             137  61.164380  3383.59
Canada                120  60.190083  3304.62
India                 122  62.378033  3326.97
UK                    126  59.379921  2991.25
USA                   101  66.059901  2334.94

In [16]:
df['added_date']=pd.to_datetime(df['added_date'])

In [17]:
#48
df['year']=df['added_date'].dt.year
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,year
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82,2022
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70,2023
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92,2023
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68,2023
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00,2024

In [18]:
#49
df["month"] = df["added_date"].dt.month
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,year,month
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82,2022,8
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70,2023,3
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92,2023,10
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68,2023,9
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00,2024,1

In [19]:
#50
df["monthname"] = df["added_date"].dt.month_name()
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,year,month,monthname
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82,2022,8,August
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70,2023,3,March
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92,2023,10,October
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68,2023,9,September
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00,2024,1,January

In [20]:
#51
df["DayName"] = df["added_date"].dt.day_name()
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,year,month,monthname,DayName
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82,2022,8,August,Sunday
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70,2023,3,March,Thursday
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92,2023,10,October,Thursday
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68,2023,9,September,Monday
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00,2024,1,January,Friday

In [21]:
#52
df["Quarter"] = df["added_date"].dt.quarter
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,year,month,monthname,DayName,Quarter
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,...,50.0,0.01,Basic,No,9.82,2022,8,August,Sunday,3
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,...,127.0,5.52,Standard,No,36.70,2023,3,March,Thursday,1
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,...,74.0,8.61,Mobile,No,3.92,2023,10,October,Thursday,4
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,...,132.0,2.79,Basic,No,6.68,2023,9,September,Monday,3
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,...,103.0,4.13,Basic,No,30.00,2024,1,January,Friday,1

In [22]:
#53
year_day_count = df.groupby(["year", "DayName"]).size()
(year_day_count)

year  DayName
2021  Friday       27
      Monday       25
      Saturday     23
      Sunday       27
      Thursday     32
      Tuesday      36
      Wednesday    23
2022  Friday       28
      Monday       24
      Saturday     20
      Sunday       35
      Thursday     20
      Tuesday      20
      Wednesday    22
2023  Friday       32
      Monday       19
      Saturday     41
      Sunday       17
      Thursday     33
      Tuesday      19
      Wednesday    25
2024  Friday        8
      Monday        9
      Saturday      7
      Sunday        9
      Thursday      9
      Tuesday       9
      Wednesday     7
dtype: int64

In [23]:
#54
month = df.groupby("monthname")["views_millions"].mean()
(month)

monthname
April        53.650517
August       59.686579
December     61.954167
February     65.564400
January      57.761587
July         62.110984
June         59.436744
March        62.342143
May          66.879149
November     63.210488
October      62.048723
September    68.395250
Name: views_millions, dtype: float64

In [24]:
#55.
df.groupby('Quarter')['revenue_millions'].mean()

Quarter
1    25.357541
2    25.256419
3    25.310576
4    25.329559
Name: revenue_millions, dtype: float64

In [25]:
#56
df.groupby("DayName").size()

DayName
Friday       95
Monday       77
Saturday     91
Sunday       88
Thursday     94
Tuesday      84
Wednesday    77
dtype: int64

In [26]:
#57
df["month"] = df["added_date"].dt.month
df["month"].value_counts().head(1)

month
3    70
Name: count, dtype: int64

In [ ]:
#58

In [70]:
#59
df.groupby(['release_year','genre']).size()

release_year  genre
2005          Action          5
              Comedy          6
              Documentary     2
              Drama          10
              Romance         3
                             ..
2024          Documentary    10
              Drama           5
              Romance         2
              Sci-Fi          5
              Thriller        5
Length: 137, dtype: int64

In [69]:
#60
df.groupby(['language','release_year']).size()

language  release_year
English   2005            12
          2006             2
          2007             6
          2008             5
          2009             3
                          ..
Telugu    2020             2
          2021             4
          2022             4
          2023             5
          2024             5
Length: 120, dtype: int64

In [67]:
#61
df.groupby(['country','subscription_plan'])['revenue_millions'].mean()

country    subscription_plan
Australia  Basic                26.292500
           Mobile               23.060645
           Premium              23.974815
           Standard             24.700571
Canada     Basic                25.299189
           Mobile               25.695667
           Premium              28.850370
           Standard             31.489231
India      Basic                26.711714
           Mobile               30.790769
           Premium              25.912692
           Standard             26.222000
UK         Basic                23.186000
           Mobile               24.560645
           Premium              23.984286
           Standard             23.149000
USA        Basic                25.274400
           Mobile               25.746296
           Premium              18.653043
           Standard             22.265769
Name: revenue_millions, dtype: float64

In [83]:
#62
content=df['release_year'].value_counts()
content[content>100]

Series([], Name: count, dtype: int64)

In [84]:
#63
df[df['revenue_millions']>20].groupby('genre')['revenue_millions'].mean()

genre
Action         33.238571
Comedy         33.834902
Documentary    34.100179
Drama          34.368621
Romance        34.299184
Sci-Fi         35.940000
Thriller       33.442917
Name: revenue_millions, dtype: float64